/* -------------------  import normalize css  --------------------- */
@import "./normralize.css";

/* -------------------  MOBILE  --------------------- */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  min-height: 100vh;
  line-height: 1.6em;
}

main {
  flex: 1;
}

.container {
  margin: 50px;
}

#button {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#rover {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 10px;
  justify-content: center;
}
/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
  /* use mobile */
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
  /* use mobile */
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
  /* use mobile */
}
